body {
  text-align: center;
  margin: 0;
  padding: 0;
  background-image: url("bBackground.avif");
  background-size: cover;
  color: rgb(0, 0, 0);
  font-family: "Noto Serif", serif;
  font-family: "Roboto Slab", serif;
}

h1 {
  margin: 0;
  padding: 0;
  height: 50px;
  padding-top: 10px;
  background-color: aliceblue;
  border-bottom: solid;
}

h4 {
  border: solid;
  border-radius: 0 0 100px 100px;
  margin-left: 24%;
  margin-right: 24%;
  padding: 20px 0 20px 0;
  background-color: aliceblue;
}
.ruletteGif {
  width: 300px;
  border-radius: 0 0 150px 150px;
  margin-top: 0;
  padding-top: 0;
  border-bottom: solid;
  border-left: solid;
  border-right: solid;
}

.answer-img {
  width: 250px;
  border: solid;
}

.picker {
  border-radius: 150px;
  width: 100px;
  text-align: center;
  height: 50px;
  background-color: aliceblue;
  font-size: 16px;
}

.button {
  border-radius: 150px;
  width: 150px;
  height: 50px;
  background-color: aliceblue;
  font-size: 16px;
  font-weight: bold;
}

.info1 {
  border: solid;
  background-color: aliceblue;
  margin: 20px 24% 20px 24%;
  padding: 10px 0 10px 0;
}
