body {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: rgb(203, 145, 30);
}

h1 {
  margin: 0;
  padding: 0;
  height: 70px;
  background-color: rgb(201, 188, 170);
}

h4 {
  border: solid;
  margin-left: 40%;
  margin-right: 40%;
  padding: 20px 0 20px 0;
  background-color: white;
}
.ruletteGif {
  width: 300px;
  border-radius: 0 0 150px 150px;
}

.picker {
  border-radius: 150px;
}

.button {
  border-radius: 150px;
  width: 100px;
  height: 50px;
}

/* .ans-div {
  border: solid;
} */
